*{
    padding: 0;
    border:0;
    margin:0;
    box-sizing: border-box;
}
.imagi{
    height:40vh;
    width:50vw;
}
.maincontainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.about{
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 250, 93);
    align-items: center;
    padding:2%;
    width:50vw;
}
.timeline{
    background-color: rgb(228, 206, 179);
    display: flex;
    flex-direction: column;
    width:50vw;
    background-size: cover;
    padding:20px;
}
div span{
    font-weight:bold;
    font-size:15px;
}
div p{
    font-weight:bold;
    font-size:15px;
}
ul{
    margin-left: 30px;
    
}